@import "tailwindcss";
@theme {
  --font-body: var(--font-inter), sans-serif;
  --font-display: var(--font-cormorant), serif;
  --color-brand-400: #2b4870;
  --color-brand-500: #1c3557;
  --color-brand-600: #13233c;
}